/.dist
/.vscode
*.exe
/obj
/build
/bin
/*.dll
/*.vcxproj
/*.filters
/*.o
/*.cmake
*.txt
*.exe
*.sln
!CMakeLists.txt
/build
/e:/GitHubRepos/CppAPIDesign/Chapter2/ChatLog/CMakeFiles
/log_*
/log_*
/.history
.fake