/bin/
/obj/
/Debug/
/Release/
/CMakeFiles/
/Debug/
/*.dir/
/x64/
*.exe
*.dll
*.mdb
*.pdb
*.config
*.suo
*.user
*.userosscache
*.userprefs
*.sln.docstates
*.suo.docstates
*.userosscache.docstates
*.vcxproj
*.vcproj
*.vcxproj.filters
*.vcproj.filters
*.sdf
*.opensdf
*.ncb
*.opensdf
*.ncb
*.opendb
*.opensln
*.opensln.docstates
*.exp
*.lib
*.idb
*.def
*.sln.docstates
*.a
cmake_install.cmake
/build/
!CMakeLists.txt
!src
