/bin
/build
/obj
*.exe
*.dll
*.mdb
*.pdb
*.config
*.suo
*.user
*.userosscache
*.userprefs
*.sln.docstates
*.suo.docstates
*.userosscache.docstates
*.vcxproj
*.vcproj
*.vcxproj.filters
*.vcproj.filters
*.sdf
*.opensdf
*.ncb
*.opensdf
*.ncb
*.opendb
*.opensln
*.opensln.docstates
*.sln
/x64
/Debug
/Release
/x86
/CMakeFiles
/vscode
/*dir
*.dir
/.dist
/.vscode
/.vs
